/* 这个文件的是stylus语法的基础变量文件 */

// 定义颜色变量
$color-background = #222;
$color-background-d = rgba(0, 0, 0, 0.3);
$color-highlight-background = #333;
$color-dialog-background = #666;

$color-my = rgba(255, 102, 0, 1);//橘红
$color-mylove = rgba(190, 190, 47, 1);//浅绿
$color-text = rgba(48, 102, 154,1);//深蓝


